aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
idna==2.10
lcu-driver==2.1.3
multidict==5.1.0
psutil==5.8.0
PyQt5==5.14.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.14.0
qasync==0.13.0
requests==2.25.1
typing-extensions==3.7.4.3
urllib3==1.26.5
yarl==1.6.3
